# Configuración de MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=docker_tp
MYSQL_USER=docker_user
MYSQL_PASSWORD=docker_password
MYSQL_PORT=3306

# Puerto del backend FastAPI
BACKEND_PORT=8000

# Puerto del frontend Nginx
FRONTEND_PORT=80